.DS_Store
yarn-error.log*
node_modules
dist
temp

# build
/components
/hooks
/auth
/bridge
/navigation
/request
/services
/session-storage
/utils
/constants.d.ts
/constants.js
/index.d.ts
/index.js
constants.js.map
index.js.map